# Python & Jupyter
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Data & Images (PENTING: Jangan upload gambar mentah jika banyak)
data/raw_images/
*.mp4
*.avi

# Labelbox & Temp Files
labelbox_export_*.json
.DS_Store
Thumbs.db

# Environment Variables
.env